<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BRMSBS_capstoneproject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loginstyle.css" asp-append-version="true" />
</head>
<body>

    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        // Best-effort client-side prevention of navigating back from the login page.
        // Note: browsers control the back button UI; this only prevents navigation in-script.
        (function () {
            try {
                history.replaceState(null, null, location.href);
                history.pushState(null, null, location.href);
                history.pushState(null, null, location.href);
                window.addEventListener('popstate', function () {
                    // If user tries to go back, keep them on the login page
                    history.pushState(null, null, location.href);
                });
            } catch (e) { }
        })();
    </script>
</body>
</html>