@{
    ViewData["Title"] = "Admin Options";
    Layout = "~/Views/Layouts/AdminOptionsMenuLayout.cshtml";
}

<div class="text-ctr"><b> Administrator Options Menu </b></div>

<div class="containerbox">

    <div class="container-fluid dashboard-container">
        <div class="row w-90">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 ">
                    <div class="col">
                        <a href="/Functions/ManageRoomsA" class="btn btn-primary dashboard-button w-100">
                            <div class="icon2"></div>
                            Manage Rooms
                        </a>
                    </div>

                    <div class="col">
                        <a href="/Functions/ManageStaff" class="btn btn-primary dashboard-button w-100">
                            <div class="icon4"></div>
                            Manage Staff Accounts
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/SalesReports" class="btn btn-primary dashboard-button w-100">
                            <div class="icon5"></div>
                            Logs History
                        </a>
                    </div>
                    <div class="col">
                        <a href="/System/HomeDashboardAdmin" class="btn btn-primary dashboard-button w-100">
                            <div class="icon9"></div>
                            Go Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
