@{
    ViewData["Title"] = "Cancel Menu";
    Layout = "~/Views/Layouts/CancelSubMenuLayout.cshtml";
}

<div class="text-ctr"><b> Cancellation Menu </b></div>

<div class="containerbox">

    <div class="container-fluid dashboard-container">
        <div class="row w-90">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 ">
                    <div class="col">
                        <a href="/Functions/CancelBooking" class="btn btn-primary dashboard-button w-100">
                            <div class="icon6"></div>
                            Cancel Booking
                        </a>
                    </div>
                    <div class="col">
                        <a href="" class="btn btn-primary dashboard-button w-100">
                            <div class="icon6"></div>
                            Cancel Reservation
                        </a>
                    </div>
                    <div class="col">
                        <a href="/System/HomeDashboardAdmin" class="btn btn-primary dashboard-button w-100">
                            <div class="icon9"></div>
                            Go Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
