@{
    ViewData["Title"] = "Check In Menu";
    Layout = "~/Views/Layouts/CheckOutSubMenuLayout.cshtml";
}

<div class="text-ctr"><b> Check Out Menu </b></div>

<div class="containerbox">

    <div class="container-fluid dashboard-container">
        <div class="row w-90">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 ">
                    <div class="col">
                        <a href="/Functions/CheckOut" class="btn btn-primary dashboard-button w-100">
                            <div class="icon7"></div>
                            Booking Check-Out
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/CheckOutReserve" class="btn btn-primary dashboard-button w-100">
                            <div class="icon8"></div>
                            Reservation Check-Out
                        </a>
                    </div>
                    <div class="col">
                        <a href="/System/HomeDashboardAdmin" class="btn btn-primary dashboard-button w-100">
                            <div class="icon9"></div>
                            Go Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
