@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Layouts/HomeDashboardLayoutA.cshtml";
}

<div class="text-ctr"><b> Menu </b></div>

<div class="containerbox">

    <div class="container-fluid dashboard-container">
        <div class="row w-90">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
                    <div class="col">
                        <a href="/System/CheckInSubMenu" class="btn btn-primary dashboard-button w-100">
                            <div class="icon7"></div>
                            Check In
                        </a>
                    </div>
                    <div class="col">
                        <a href="/System/CheckOutSubMenu" class="btn btn-primary dashboard-button w-100">
                            <div class="icon1"></div>
                            Check Out
                        </a>
                    </div>
                    <div class="col">
                        <a href="/System/CancelSubMenu" class="btn btn-primary dashboard-button w-100">
                            <div class="icon6"></div>
                            Cancel Book/Reserve
                        </a>
                    </div>
                    <div class="col">
                        <a href="" class="btn btn-primary dashboard-button w-100">
                            <div class="icon9"></div>
                            Edit/Modify 
                        </a>
                    </div>
                    <div class="col">
                        <a href="/System/AdminOptionsMenu" class="btn btn-primary dashboard-button w-100">
                            <div class="icon11"></div>
                            Admin Options
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

