@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Layouts/HomeDashboardLayoutA.cshtml";
}

<div class="text-ctr"><b> Menu </b></div>

<div class="containerbox">

    <div class="container-fluid dashboard-container">
        <div class="row w-90">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
                    <div class="col">
                        <a href="/Functions/BookingA" class="btn btn-primary dashboard-button w-100">
                            <div class="icon7"></div>
                            Booking
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/ReservationA" class="btn btn-primary dashboard-button w-100">
                            <div class="icon8"></div>
                            Reservation
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/ReservationCheckInA" class="btn btn-primary dashboard-button w-100">
                            <div class="icon7"></div>
                            Reservation Check In
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/CheckOut" class="btn btn-primary dashboard-button w-100">
                            <div class="icon1"></div>
                            Check Out
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/CancelBookReserve" class="btn btn-primary dashboard-button w-100">
                            <div class="icon6"></div>
                            Cancel Book/Reserve
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/ManageRoomsA" class="btn btn-primary dashboard-button w-100">
                            <div class="icon2"></div>
                            Manage Rooms
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="/Functions/ManageStaff" class="btn btn-primary dashboard-button w-100">
                            <div class="icon4"></div>
                            Manage Staff Accounts
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/SalesReports" class="btn btn-primary dashboard-button w-100">
                            <div class="icon5"></div>
                            Sales Reports
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--

<div class="col">
                        <a href="/Functions/CalendarIntergrationA" class="btn btn-primary dashboard-button w-100">
                            <div class="icon3"></div>
                            Calendar Intergration
                        </a>
                    </div>

-->

