@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Layouts/HomeDashboardLayoutS.cshtml";
}

<div class="text-ctr"><b> Dashboard Menu </b></div>

<div class="containerbox">

    <div class="container-fluid dashboard-container">
        <div class="row w-90">
            <div class="col-12">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 ">
                    <div class="col">
                        <a href="/Functions/BookingS" class="btn btn-primary dashboard-button w-100">
                            <div class="icon7"></div>
                            Booking
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/ReservationS" class="btn btn-primary dashboard-button w-100">
                            <div class="icon8"></div>
                            Reservation
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/ReservationCheckInS" class="btn btn-primary dashboard-button w-100">
                            <div class="icon7"></div>
                            Reservation Check In
                        </a>
                    </div>
                    <div class="col">
                        <a href="/Functions/ManageRoomsS" class="btn btn-primary dashboard-button w-100">
                            <div class="icon2"></div>
                            Manage Rooms
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>