@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Layouts/LoginLayout.cshtml";
}

<div class="login-backV">

    <div class="login-containerbox">

        <div class="containerbox">
            <h2><b> BRMSBS </b></h2>
            <p>Booking & Reservation Management<br /> System For Balay Sidlakan </p>
        </div>
            
        <p> Please login your account (admin and staff) </p>
        @if (ViewBag.LoginError != null)
        {
            <div class="error-text" style="color:red; margin-top:10px;">
                @ViewBag.LoginError
            </div>
        }
        <form asp-action="Login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" required />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" required />
            </div>
            <br/>
            <button type="submit" class="btn btn-custom">Login</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        // Push the current state to the history stack
        window.history.pushState(null, null, window.location.href);

        // Handle popstate event (triggered by back/forward buttons)
        window.onpopstate = function () {
            // Push the current state again to prevent navigation
            window.history.pushState(null, null, window.location.href);
        };
    </script>
}

