/* Styling the sidebar */
.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1051; /* Ensure sidebar is above navbar */
}

    /* Styling sidebar links */
    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #f1f1f5;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #006bff;
        }

/* Styling the hamburger menu button */
.hamburger {
    font-size: 25px;
    cursor: pointer;
    position: fixed;
    top: 9px;
    left: 20px;
    z-index: 1000;
    color: #333;
}

.hamburger:hover {
    color: #006bff;
}

/* Styling the close button */
.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 24px;
    color: #f1f1f1;
    cursor: pointer;
}

.close-btn:hover {
    color: #006bff;
}

/* Styling for open sidebar */
.sidebar.open {
    width: 250px;
}

/* Main content area */
.content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s;
}

    .content.shift {
        margin-left: 250px;
    }

.navbar-brand {
    margin-left: 50px;
}

/*--------------------------------------------------*/

body {
    background-color:aquamarine;
}

.containerbox {
    background-color:lightgreen;    
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width:1800px;
    width: 75%;
    opacity: .9;
    margin: 0px auto; /* Center horizontally */
    display: flex; /* Center vertically if parent allows */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerbox-2 {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 1800px;
    width: 100%;
    opacity: .9;
    margin: 0px auto; /* Center horizontally */
    display: flex; /* Center vertically if parent allows */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-ctr {
    text-align: center;
    font-size: 70px;
}

.navbar,
.navbar-custom,
.navbar.navbar-expand-sm {
    z-index: 1050; /* Keep navbar below sidebar */
    position: relative;
}