@{
    ViewData["Title"] = "Calendar Intergration";
    Layout = "~/Views/Layouts/CalendarIntLayoutA.cshtml";
}

<div class="text-ctr"><b> Calendar Intergration </b></div>

<div class="containerbox">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required /> 

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />
        
    </div>
    
</div>