@{
    ViewData["Title"] = "Calendar Integration";
    Layout = "~/Views/Layouts/CalendarIntLayoutA.cshtml";
}

<div class="text-ctr"><b> Calendar Integration </b></div>

<div class="containerbox">

</div>