@{
    ViewData["Title"] = "Reservation";
    Layout = "~/Views/Layouts/ReservationLayoutA.cshtml";
}

<div class="text-ctr"><b> Add a reservation </b></div>

<div class="containerbox">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

    </div>

</div>