@{
    ViewData["Title"] = "Sales Reports";
    Layout = "~/Views/Layouts/SalesReportsLayout.cshtml";
}

<div class="text-ctr"><b> Sales Reports </b></div>

<div class="containerbox">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required /> 

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />

        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" required />
        
    </div>
    
</div>